bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/kibana/
/.idea/
/.vscode/
/.vs/
/rabbitmq/
/rabbitmq/**/
rabbitmq/
/sqlserver/
/redis/
/consul/
/consul-template/
/logstash/
/docker/
**/esdata/*
**/eslogs/*
**/logs/
/esdata/**
